@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
  --color-yes: #10b981;
  --color-no: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-black: #020617;
  --color-brand-green: #10b981;
  --color-brand-red: #ef4444;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow: hidden;
  touch-action: none;
}
